<!DOCTYPE html>
<html>
  <head>
    <title>Автоматизация</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <meta name="user-id" content="<%= current_user.id if current_user %>">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('GJ.ico') %>
  </head>

  <body>
  <% if logined? %>
    <%= audio_tag("mario_coin_sound.mp3", id: "notifySound") %>
    <button id="audioPlay" class="d-none"></button>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <%= link_to "Автоматизация", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="dropdown">
          <%= link_to("#", class: "nav-link text-white dropdown-toggle", id: "dropdownMenuLink", "data-toggle": "dropdown", "aria-haspopup": true, "aria-expanded": false) do %>
          <span>
            Сообщения
              <span id="event-badge" class="badge badge-danger <%= 'd-none' if current_user.events.unreaded.size < 1 %>"><%= current_user.events.unreaded.size %></span>
          </span>
          <% end %>
          <div style="max-height: 50vh; overflow-y: auto; min-width: 30em" class="dropdown-menu dropdown-menu-right event-menu" aria-labelledby="dropdownMenuLink">
            <% current_user.events.unreaded.order(created_at: :desc).each do |event| %>
              <div class="dropdown-item event-item" id="event-<%= event.id %>">
                <%= render partial: "events/event_#{class_to_s event.subject}_#{event.event_type}", locals: {event: event, context: "dropdown"} %>
              </div>
            <% end %>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item" style="text-align: center">
              <%= link_to "Показать больше", user_events_path(current_user), class: "dropdown-item text-primary" %>
            </div>
          </div>
        </div>
        <%= link_to current_user.name, user_path(current_user), class: "nav-link text-white pl-0" %>
        <%= link_to "Выход", login_path, method: :delete, class: "nav-link text-white pl-0" %>
      </div>
    </nav>
  <% end %>
  <div id="container" class="container-fluid" style="max-width: 95vw">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key%>"><%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <br>
    <%= content_for?(:admin) ? yield(:admin) : yield %>
  </div>
  </body>
</html>
