<!DOCTYPE html>
<html>
  <head>
    <title>AmDashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-dark sticky-top">
    <%= link_to 'am-dash', root_path, class: "navbar-brand" %>
    <% if logined? %>
      <div>
        <%= link_to current_user.fullname, user_path(current_user), class: "nav-link d-inline text-white" %>
        <%= link_to "Выйти", login_path, method: :delete, class: "nav-link text-white d-inline" %>
      </div>
      <% end %>
  </nav>
  <div class="container-fluid" style="max-width: 95vw">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key%>"><%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <br>
    <%= yield %>
  </div>
  </body>
</html>
